/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 31/03/2019, 16:30:53
    Author     : kevin
*/
.form-signin {
  width: 100%;
  max-width: 420px;
  padding: 15px;
  margin: auto;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group > input,
.form-label-group > label {
  height: 3.125rem;
  padding: .75rem;
}

.form-label-group > label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0; /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  pointer-events: none;
  cursor: text; /* Match the input under the label */
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: 1.25rem;
  padding-bottom: .25rem;
}

.form-label-group input:not(:placeholder-shown) ~ label {
  padding-top: .25rem;
  padding-bottom: .25rem;
  font-size: 12px;
  color: #777;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #a81617;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(222, 147, 146);
}

.custom-select:focus {
    border-color: #a81617;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(222, 147, 146);
}

.card-body {
    text-align: center;  
}

.btn-primary{
    background-color: #9d1a19;
    border-color: #971d1c;
}
.btn-primary:hover{
    background-color: #e0201f;
    border-color: #971d1c;
}
.btn-primary:active{
    
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #e0201f;
    border-color: #971d1c;
}

.btn-primary:focus, .btn-primary.focus {
    box-shadow: 0 0 0 0.2rem rgb(222, 147, 146);
}

.btn:focus, .btn.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(222, 147, 146);
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgb(222, 147, 146);
}

body {
  background-color: #f5f5f5;
}

footer.container {
   
    bottom: 0;
    text-align: center;
    
}

.breadcrumb {
    background-color: #f5f5f5;
 
}

.breadcrumb-item a{
    text-decoration: none;
    color: #a81617;
}
